/* Universal Styles */

*, :after, :before{
    box-sizing: border-box;
}

html{
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

body, html{
    width: 100%;
    height: 100%;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
}

strong{
    font-weight: bold;
}

/* Header */
header{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
}

nav{
    width: 100%;
    height: 7rem;
}

nav .content{
    align-items: center;
}

#nav-logo{
   height: 7rem;
   margin-left: 5%; 
}

.navigation-items{
    display: inline-flex;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 5%;
}

nav a{
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #d3d3d3;
}

.scrolled{
    background-color: white;
    transition: color 0.5s ease-in-out;
}

.scrolled a{
    color: #002366;
    transition: color 0.5s ease-in-out;
}

/* Header */
#banner{
    min-height: 57rem;
    background-image: url("./images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


#feel{
    margin-bottom: 3rem;
    width: 40rem;
    height: auto;
    color: #d3d3d3;
}

#feel h1{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 4rem;
}

#feel .container{
    justify-content: space-around;
}

#feel h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10rem;
}

#feel a{
    letter-spacing: 0.1rem;
    color: #d3d3d3;
    width: 100%;
    height: 4rem;
}

#feel .more{
    display: flex;
    justify-content: center;
}

#feel .more:after{
    background-image: url("./images/arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 4em;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: 0 0 0 -0.75em;
    position: absolute;
    width: 1.5em;
}

/* Why-me */

#why-me{
    min-height: 57rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 7.5rem 1.25rem 0rem 1.25rem; /* bottom 0rem */
    line-height: 1rem;
}

#why-me .image{
    display: flex;
    align-items: center;
}

#resume{
    padding-bottom: 2rem;
}

#profile{
    margin-right: 2.5rem;
}

#profile h1,
#profile h2,
#profile p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#profile h2,
#profile p{
    line-height: normal;
}

#profile h1{
    font-size: 2rem;
    font-weight: bold;
    color: #DAA520
}

#profile h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #DAA520;
}

#profile p{
    font-size: 1.2rem;
}

#profile-picture{
    min-width: 100%;
    height: fit-content;
    border-radius: 100px;
}

#highlights{
    display: flex;
    flex-wrap: wrap;
    margin: 0.625rem;
}

#highlights:first-child{
    padding-left: 0;
}

#highlights:last-child{
    padding-right: 0;
}

#highlights h2,
#highlights p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#highlights h2,
#highlights p{
    line-height: normal;
}

#highlights h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.column{
    flex: 0 0 calc(33.33% - 1.25rem); /* 1 1 33% for other devices */
    padding: 0.625rem;
    background-color: #D3D3D3;
    color: #002366;
    border-radius: 10px;
    margin: 0.3125rem;
}

.content-container{
    display: flex;
    flex-direction: column;
}

.title,
.text{
    padding: 0.3125rem;
}

/* Experience */
#experience{
    min-height: 57rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 7.5rem 1.25rem 0 1.25rem; /* bottom 0rem */
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;  /* Fills the entire available width */
    justify-content: space-around;
}

.experience-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #002466e0;
    color: #D3D3D3;
    border-radius: 10px;
    margin: 0.3125rem;
}

.logo-container{
    flex: 0 0 6.25rem; /*width 20% */
}

#experience .text-container{
    display: none;
    align-items: center;
    flex: 1;
    height: fit-content;
    margin-left: 2.5rem;
}

#experience .logo{
    height: 7rem;    
}

#experience h2,
#experience p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#experience h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
}

#experience h3{
    font-size: 1.25rem;
}

/* Skills*/
#skills{
    min-height: 57rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 7.5rem 1.25rem 7.5rem 1.25rem; /* bottom 0rem */
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;  /* Fills the entire available width */
    justify-content: space-around;
}

/* Skills: software */
#software{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 20rem;
}

#software h3{
    font-size: 1.25rem;
    font-weight: bold;
}

.carousel-arrow{
    background-color: transparent;
    border: none;
    background-color: #002466e0;
    color: #D3D3D3;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.5;
    align-self: center;
    justify-self: center;
}

.carousel-arrow:hover{
    opacity: 1;
}

.carousel-container{
    width: 100%;
    display: flex;
    scroll-snap-type: x mandatory;
}

.carousel-list{
    display: flex;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: flex-end;
}

.carousel-list li{
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 100%;
    padding: 1rem;
}

.carousel-list .inactive{
    display: none;
}

.carousel-list li img {
    width: 100%;  /* Scale image to fit item width */
    height: auto;  /* Maintain aspect ratio */
    margin-bottom: 1rem;  /* Add space between image and text */
}
  
  .app-info {
    text-align: center;  /* Center text within the item */
}


/* Footer */
footer{
    width: 100%;
    height: auto;
    background-color: #002466e0;
    color: #d3d3d3;
}

.footer-flex {
    min-height: 7rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0rem 1.25rem 0rem 1.25rem; /* bottom 0rem */
    line-height: 1rem;
    display: flex;
    align-items: center;
}

.footer-flex > div {  /* Target all child elements of .footer-flex */
    flex: 1;  /* Make each child element take up equal space */
}

footer p{
    font-weight: bold;
}

#footer-logo{
    display: flex;
    justify-content: flex-start;
}

#footer-logo img{
    height: auto;
    max-width: 4rem;
}

#footer-socials{
    display: flex;
    justify-content: flex-end;
}

#footer-socials a{
    margin-left: 1rem;
    border: solid .2rem #D3D3D3;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-socials img{
    height: 1.5rem;
    width: auto;
}