/* Universal Styles 18px to 20px for smaller devices
45 to 85 characters per line
min-width: 45ch
max-width: 85 ch
abbr element*/

*, :after, :before{
    box-sizing: border-box;
}

html{
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

body, html{
    width: 100%;
    height: 100%;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

/* Header */
header{
    position: fixed;
    width: 100%;
    height: 7rem;
    z-index: 1;
}

nav{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
}

nav .logo-container{
    margin-left: 5%;
}

#nav-logo{
   height: 7rem;
}

#nav-menu{
    height: 3.5rem;
    display: none;
}

#main-menu{
    margin-right: 5%;
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

#main-menu div{
    width: auto;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    font-size: 1.5rem;
    font-weight: bold;
    color: #d3d3d3;
}

nav a:hover{
    color: #DAA520;
}

#li-contact img{
    height: 1.5rem;
    width: auto;
    align-self: center;
}

.contact-dropdown{
    display: none;
    width: 7.6rem;
    position: absolute;
    top: 4.2rem;
    right: auto;
    background-color: #002466e0;
    border-radius: 20px;
    padding: 1rem;
}

#li-contact:hover .contact-dropdown {  /* Desplegar al pasar el mouse */
    display: block;  /* Enable flexbox for each dropdown item */  
}

.contact-dropdown li{
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    border-radius: 20px;
}

.contact-dropdown li:hover{
    background-color: #daa520bb;
}

.contact-dropdown a{
    width: 100%;
}

.scrolled{
    background-color: white;
    transition: color 0.5s ease-in-out;
    border-bottom: 1px solid #002366;
}

.scrolled a{
    color: #002366;
    transition: color 0.5s ease-in-out;
}

@media screen and (max-width: 1050px){
    nav .logo-container{
        margin-left: 2%;
    }

    #main-menu{
        margin-right: 2%;
    }
}

@media screen and (max-width: 990px){
    #nav-menu{
        display: block;
    }

    #main-menu .desktop{
        display: none;
    }
}

/* Banner */
#banner{
    min-height: 57rem;
    background-image: url("./images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#feel{
    margin-bottom: 3rem;
    width: 40rem;
    height: auto;
    color: #d3d3d3;
}

#feel h1{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 4rem;
}

.shadowed{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.animated {
    animation: entrance 2s ease-in-out forwards;
}
  
@keyframes entrance {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
}

#feel .container{
    justify-content: space-around;
}

#feel h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10rem;
}

#feel h2:hover{
    color: #DAA520;
}

#feel a{
    letter-spacing: 0.1rem;
    color: #d3d3d3;
    width: 100%;
    height: 4rem;
}

#feel .more{
    display: flex;
    justify-content: center;
}

#know-how img{
    margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
    #banner{
        width: 100%;
        min-height: 47rem;
        background-position: 70% 50%;
    }

    #feel {
      width: 100%; /* Set width to 100% for mobile */
      font-size: 1.2rem; /* Adjust font size for better readability */
    }

    #feel .container{
        flex-wrap: wrap;
    }

    #feel h1{
        font-size: 1.8rem; /* Adjust h1 size for mobile */
        padding-bottom: 2rem; /* Adjust padding for smaller screens */
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    }

    #feel h2{
        font-size: 1.2rem; /* Adjust h2 size for mobile */
        padding-bottom: 5rem; /* Adjust padding for mobile */
    }
}

/* Why-me */

#why-me{
    min-height: 57rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 7.5rem 1.25rem 0rem 1.25rem; /* bottom 0rem */
    line-height: 1rem;
}

#why-me .image{
    display: flex;
    align-items: center;
}

#resume{
    padding-bottom: 2rem;
}

#profile{
    margin-right: 2.5rem;
}

#profile h1,
#profile h2,
#profile p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#profile h2,
#profile p{
    line-height: normal;
}

#profile h1{
    font-size: 2rem;
    font-weight: bold;
    color: #DAA520
}

#profile h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #DAA520;
}

#profile p{
    font-size: 1.2rem;
}

#profile-picture{
    min-width: 100%;
    height: fit-content;
    border-radius: 100px;
}

#highlights{
    display: flex;
    flex-wrap: wrap;
    margin: 0.625rem;
}

#highlights:first-child{
    padding-left: 0;
}

#highlights:last-child{
    padding-right: 0;
}

#highlights h2,
#highlights p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#highlights h2,
#highlights p{
    line-height: normal;
}

#highlights h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.column{
    flex: 0 0 calc(33.33% - 2rem); /* 1 1 33% for other devices */
    padding: 0.625rem;
    background-color: #D3D3D3;
    color: #002366;
    box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.25);
    border-radius: 10px;
    margin: 0 1rem;
}

.content-container{
    display: flex;
    flex-direction: column;
}

.title,
.text{
    padding: 0.3125rem;
}

@media screen and (max-width: 768px) {
    #highlights {
      flex-direction: column; /* Stack columns on mobile */
    }

    #resume{
        flex-direction: column-reverse;
    }

    #profile{
        margin-right: 0;
    }

    #why-me .image{
        justify-content: center;
    }

    #profile-picture{
        min-width: 50%;
        height: auto;
    }

    #profile h1{
        text-align: center;
    }

    #profile h2{
        text-align: center;
    }
  
    .column {
      flex: 1 0 100%; /* 100% width for single column on mobile */
      margin: 1rem 0; /* Adjust margin for mobile layout */
    }
}

/* Experience */
#experience{
    min-height: 55rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 6rem 1.25rem 0 1.25rem; /* bottom 0rem */
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;  /* Fills the entire available width */
    justify-content: space-around;
}

.experience-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #002466e0;
    box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.25);
    color: #D3D3D3;
    border-radius: 10px;
    margin: 0.3125rem;
}

.logo-container{
    flex: 0 0 6.25rem; /*width 20% */
}

#experience .text-container{
    display: none;
    align-items: center;
    flex: 1;
    height: fit-content;
    margin-left: 2.5rem;
}

#experience .logo{
    height: 7rem;    
}

#experience h2,
#experience p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#experience h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
}

#experience h3{
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
    #experience {
      flex-direction: column; /* Stack experience rows on mobile */
      justify-content: center;
    }
  
    .experience-row {
      flex-direction: column; /* Stack logo and text on mobile */
      align-items: center; /* Align content to the left */
      padding: 1.5rem; /* Adjust padding for better spacing */
    }
  
    .logo-container {
      flex: 0 0 100%; /* 100% width for logo on mobile */
      margin-bottom: 0.5rem; /* Add some space between logo and text */
    }
  
    #experience .text-container {
      display: block; /* Show text container on mobile */
      margin-left: 0;
      text-align: center;
      line-height: 1.5;
    }

    #GBM .text-container h2{
        display: none;
    }
}

/* Skills*/
#skills{
    min-height: 80rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 6rem 1.25rem 0rem 1.25rem; /* bottom 0rem */
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;  /* Fills the entire available width */
    justify-content: space-between;
}
/* Skills: hard */

.tabs{
    height: 40rem;
    display: flex;
    flex-direction: column;
}

.tab-nav{
    display: flex;
    cursor: pointer;
    height: 10rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: solid .15rem #D3D3D3;
}

.tab-item{
    flex: 0 0 calc(100%/3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-item.active{
    border-bottom: solid .5rem #002366;
}

.tab-item.active p{
    color: #002366;
}

.tab-item p{
    color: #d3d3d3;
    font-weight: bold;
    font-size: 1.2rem;
}

.tab-item img{
    height: 1.5rem;
    margin: 0 0.5rem;
    width: auto;
}

.tab-item.active img{
    display: block;
}

.tab-item img{
    display: none;
}

.tab-content{
    flex: 1;
}

.tab-item-content{
    display: none;
    padding: 20
}

.tab-item-content.active{
    display: flex;
    height: 100%;
    justify-content: center;
}

#hard .image-container{
    height: 100%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

#hard .text-container{
    justify-content: center;
    align-content: center;
}

#tab-2 .text-container{
    padding-right: 2.5rem;
}

#hard .image-container img{
    border-radius: 20px;
    width: auto;
    height: 18rem;
    box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.25);
}

.hard-skill-item{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.hard-skill-item img{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.5rem;
    width: auto;
}

.hard-skill-item p{
    font-weight: bold;
    font-size: 1.2rem;
    color: #002366;
}

/* Skills: soft-skills */
#soft{
    display: flex;
    flex-wrap: wrap;
    background-color: #002466e0;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.25);
}

#soft .items{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#soft img{
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem 0.5rem;
}

#soft li{
    display: flex;
    align-items: center;
    margin: 0 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #DAA520;
}

#soft li:hover{
    color: #D3D3D3;
}

/* Skills: software */
#software{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 20rem;
}

#software h3{
    font-size: 1.25rem;
    font-weight: bold;
}

#software li:hover{
    color: #DAA520;
}

.carousel-arrow{
    background-color: transparent;
    border: none;
    background-color: #002466e0;
    box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.25);
    color: #D3D3D3;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.5;
    align-self: center;
    justify-self: center;
}

.carousel-arrow:hover{
    opacity: 1;
}

.carousel-container{
    width: 100%;
    display: flex;
    justify-content: center;
    scroll-snap-type: x mandatory;
}

.carousel-list{
    display: flex;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: flex-end;
}

.carousel-list li{
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 100%;
    padding: 1rem;
}

.carousel-list .inactive{
    display: none;
}

.carousel-list li img {
    width: 100%;  /* Scale image to fit item width */
    height: auto;  /* Maintain aspect ratio */
    margin-bottom: 1rem;  /* Add space between image and text */
}
  
  .app-info {
    text-align: center;  /* Center text within the item */
}

/* Education */
#education{
    min-height: 20rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 8rem 1.25rem 12rem 1.25rem; /* bottom 0rem */
    line-height: 1rem;
    display: flex;
    width: 100%;  /* Fills the entire available width */
    align-items: center;
    justify-content: center;
}

#education img{
    width: 10rem;
    height: auto;
}

#ITESM,
#UTSA{
    perspective: 62.5rem;
    width: 20rem;
    height: 20rem;
    margin: 0 1rem;
}

#ITESM{
    color: #002366;
}

#UTSA{
    color: #FC7F03;
}

.card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease-in-out;
    transform-style: preserve-3d;
}

#ITESM > .card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

#UTSA > .card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.front,
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.25);
    backface-visibility: hidden;  
}

#ITESM .front,
#ITESM .back{
    background: linear-gradient(to bottom right, #D3D3D3, #002466e0);
}

#UTSA .front,
#UTSA .back{
    background: linear-gradient(to bottom right, #D3D3D3, #fc7f03a4);
}

.front{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

#profile h2,
#profile p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#profile strong:hover{
    color: #DAA520;
}

#education h2,
#education p{
    line-height: 2rem;
}

#education h2{
    font-size: 1.5rem;
    font-weight: bold;
}

#education .date{
    font-size: 1rem;

}

#education .grade{
    font-size: 1.2rem;
}

/* Footer */
footer{
    width: 100%;
    height: auto;
    background-color: #002466e0;
    color: #d3d3d3;
}

.footer-flex {
    min-height: 7rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0rem 1.25rem 0rem 1.25rem; /* bottom 0rem */
    line-height: 1rem;
    display: flex;
    align-items: center;
}

.footer-flex > div {  /* Target all child elements of .footer-flex */
    flex: 1;  /* Make each child element take up equal space */
}

footer p{
    font-weight: bold;
}

#footer-logo{
    display: flex;
    justify-content: flex-start;
}

#footer-logo img{
    height: auto;
    max-width: 4rem;
}

#copyright:hover{
    color: #DAA520;
}

#footer-socials{
    display: flex;
    justify-content: flex-end;
}

#footer-socials a{
    margin-left: 1rem;
    border: solid .2rem #D3D3D3;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-socials a:hover{
    background-color: #DAA520;
    border: none;
    border-radius: 5px;
}

#footer-socials img{
    height: 1.5rem;
    width: auto;
}